{{define "config.page.tmpl" }}

{{template "header.layout.tmpl" .}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Job Service - Configuration Data</h1>
                <h2>Server</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 50%">Variable</th>
                        <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Host</td>
                            <td>{{ .configdata.ServerHost}}</td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td>{{ .configdata.ServerPort}}</td>
                        </tr>
                        <tr>
                            <td>TLS Port</td>
                            <td>{{ .configdata.ServerTlsPort}}</td>
                        </tr>
                        <tr>
                            <td>Graceful Shutdown Time</td>
                            <td>{{ .configdata.ServerGracefulShutdownTime}}</td>
                        </tr>
                        <tr>
                            <td>Use TLS</td>
                            <td>{{ .configdata.ServerUseTls}}</td>
                        </tr>
                        <tr>
                            <td>Certificate File</td>
                            <td>{{ .configdata.ServerCertFile}}</td>
                        </tr>
                        <tr>
                            <td>Key File</td>
                            <td>{{ .configdata.ServerKeyFile}}</td>
                        </tr>
                    </tbody>
                </table>
                <h2>Database</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 50%">Variable</th>
                        <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Host</td>
                            <td>{{ .configdata.DbHost}}</td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td>{{ .configdata.DbPort}}</td>
                        </tr>
                        <tr>
                            <td>User</td>
                            <td>{{ .configdata.DbUsername}}</td>
                        </tr>
                        <tr>
                            <td>Database Name</td>
                            <td>{{ .configdata.DbName}}</td>
                        </tr>
                        <tr>
                            <td>Jobs Table</td>
                            <td>{{ .configdata.DbJobTable}}</td>
                        </tr>
                    </tbody>
                </table>
                <h2>Miscellaneous</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 50%">Variable</th>
                        <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gin-Gonic Mode</td>
                            <td>{{ .configdata.GinMode}}</td>
                        </tr>
                        <tr>
                            <td>Maximum Results Limit Per Page</td>
                            <td>{{ .configdata.MaxResultLimit}}</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>

{{template "footer.layout.tmpl" .}}

{{ end }}
