{{define "landing.page.tmpl" }}

{{template "header.layout.tmpl" .}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the landing page</h1>
            </div>
        </div>
    </div>

{{template "footer.layout.tmpl" .}}

{{ end }}
